.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 5rem;
}

.progress-Bar {
    background: rgb(194, 191, 191);
    width: 50rem;
    border-radius: 20px;
}

.bar-filled {
    background-color: aqua;
    width: 0%;
    border-radius: 20px;
}

.run-btn {
    margin-top: 2rem;
    padding: 0.5rem 2rem;
    border: none;
    background-color: rgb(128, 128, 223);
    color: aliceblue;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 20px;
    cursor: pointer;
    margin-left: 1rem;
}

.run-btn:hover {
    background-color: rgb(126, 125, 194);
}

span {
    font-size: larger;
    font-weight: bolder;
    padding: 1rem;
    text-align: center;
}

.btn-section {
    display: flex;
}